/*フォローボタン*/
.btn-flat-border-before {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-before:hover {
  background: #67c5ff;
  color: white;
}

.btn-flat-border-after {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 2px #67c5ff;
  background-color: #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-after:hover {
  background: white;
  color: #67c5ff;
}

/*送信ボタン*/
.btn-flat-success {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: limegreen;
  border: solid 2px limegreen;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-success:hover {
  background: limegreen;
  color: white;
}

/*検索ボタン*/
.btn-flat-search {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: gray;
  border: solid 2px gray;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-search:hover {
  background: gray;
  color: white;
}

/*リンクボタン*/

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}


fav {
  margin: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"] {
  display: none;
}
label {
  position: relative;
  cursor: pointer;
}
label svg {
  width: 160px;
}
input[type="checkbox"] + label svg {
  fill: #FAE2E2;
  transition: all .3s;
}
input[type="checkbox"]:checked + label svg {
  fill: #FA9797;
  animation: like .8s ease-out;
  transition: all .3s;
}
@keyframes like {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(.5,.5);
  }
  100% {
    transform: scale(1,1);
  }
}

/*名前*/

.under_line {
    /* padding: 0.8rem 0; */
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #46aadc 0 20%, #dedede 20%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    color: #323232;
    /* font-weight: bold; */
    font-size: 20px;
    display: inline;
}

.under_line2 {
    padding: 0.7999999999999972rem 0;
    margin-bottom: 1.1999999999999993rem;
    background-image: linear-gradient(90deg, #46aadc 0 20%, #dedede 20%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    color: #323232;
    /* font-weight: bold; */
    /* font-size: 20px; */
    /* display: inline; */
}

/*チャット吹き出し(カレントユーザー）*/
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  text-align: center;
  border-radius: 50px;
}

.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 90px;
  margin-left: -16px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
  margin: 0;
  padding: 0;
}

/*チャット吹き出し（相手）*/
.balloon2-top {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  text-align: center;
  border-radius: 50px;
}

.balloon2-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 90px;
  margin-left: -74px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}

.balloon2-top p {
  margin: 0;
  padding: 0;
}

/*参加ボタン*/
.btn_19 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 5px 0;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 5px;
	transition: 0.5s;
	animation: move_a 2s infinite;
}
@keyframes move_a {
    0% {transform: translate(0px, 4px);}
    5% {transform: translate(0px, -4px);}
    10% {transform: translate(0px, 4px);}
    15% {transform: translate(0px, -4px);}
    20% {transform: translate(0px, 4px);}
    25% {transform: translate(0px, -4px);}
    30% {transform: translate(0px, 0px);}
}
.btn_19:hover {
	color: #27acd9;
	background: #fff;
}

/*退会ボタン*/
.btn_20 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 5px 0;
	font-weight: bold;
	border: 2px solid red;
	background: red;
	color: #fff;
	border-radius: 5px;
	transition: 0.5s;
	animation: move_a 2s infinite;
}
@keyframes move_a {
    0% {transform: translate(0px, 4px);}
    5% {transform: translate(0px, -4px);}
    10% {transform: translate(0px, 4px);}
    15% {transform: translate(0px, -4px);}
    20% {transform: translate(0px, 4px);}
    25% {transform: translate(0px, -4px);}
    30% {transform: translate(0px, 0px);}
}
.btn_20:hover {
	color: #27acd9;
	background: #fff;
}